
@{
    ViewData["Title"] = "Home Page";
}

<div class="loading">
    <img src="~/static/images/loading.gif" alt="loading" />
</div>

<audio id="starwars" src="~/static/audio/Blaster-Solo.wav" preload="auto"></audio>
<audio id="tng" src="~/static/audio/tng_torpedo_clean.mp3" preload="auto"></audio>
<audio id="b5" src="~/static/audio/B5-interceptor1.wav" preload="auto"></audio>
<audio id="wargames" src="~/static/audio/WarGames-KeyPress.wav" preload="auto"></audio>
<audio id="pew" src="~/static/audio/pew.mp3" preload="auto"></audio>
<audio id="galaga" src="~/static/audio/shot_sound.mp3" preload="auto"></audio>
<audio id="asteroids" src="~/static/audio/asteroids.mp3" preload="auto"></audio>
<audio id="china" src="~/static/audio/china.mp3" preload="auto"></audio>
<audio id="timallen" src="~/static/audio/timallen.wav" preload="auto"></audio>

<svg height="10" width="10" xmlns="http://www.w3.org/2000/svg" version="1.1">

    <defs>
        <pattern id="pattern-default" width="4" height="4" patternUnits="userSpaceOnUse">
            <circle class="vx-pattern-circle" cx="2" cy="2" r="1" fill="#ffffff" stroke="none" stroke-width="0"></circle>
        </pattern>
        <linearGradient id="gradient-green-rl" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" stop-color="rgb(106, 191, 105, 0.2)" />
            <stop offset="100%" stop-color="rgb(106, 191, 105, 0.9)" />
        </linearGradient>
        <linearGradient id="gradient-green-lr" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" stop-color="rgb(106, 191, 105, 0.9)" />
            <stop offset="100%" stop-color="rgb(106, 191, 105, 0.2)" />
        </linearGradient>
        <linearGradient id="gradient-orange-rl" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" stop-color="rgb(255, 173, 66, 0.2)" />
            <stop offset="100%" stop-color="rgb(255, 173, 66, 0.9)" />
        </linearGradient>
        <linearGradient id="gradient-orange-lr" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" stop-color="rgb(255, 173, 66, 0.9)" />
            <stop offset="100%" stop-color="rgb(255, 173, 66, 0.2)" />
        </linearGradient>
        <linearGradient id="gradient-red-rl" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" stop-color="rgb(255, 102, 89, 0.2)" />
            <stop offset="100%" stop-color="rgb(255, 102, 89, 0.9)" />
        </linearGradient>
        <linearGradient id="gradient-red-lr" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" stop-color="rgb(255, 102, 89, 0.9)" />
            <stop offset="100%" stop-color="rgb(255, 102, 89, 0.2)" />
        </linearGradient>
        <linearGradient id="gradient-blue-rl" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" stop-color="rgb(86, 200, 216, 0.2)" />
            <stop offset="100%" stop-color="rgb(86, 200, 216, 0.9)" />
        </linearGradient>
        <linearGradient id="gradient-blue-lr" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" stop-color="rgb(86, 200, 216, 0.9)" />
            <stop offset="100%" stop-color="rgb(86, 200, 216, 0.2)" />
        </linearGradient>
    </defs>
    
    <path d="M845.995021907299,401.8096030251138L849.1638381214391,403.1931305648008L851.1529651244086,402.60196231547826L851.3298393395908,400.83871164103385L853.3908657549325,400.1769971941689L854.5980891612423,398.9594259978272L854.4107936333555,395.9046074213855L856.5099050635401,395.10569584943767L856.6410368351269,393.73125092884993L858.1935707641646,394.6475529440963L859.0230160204997,394.744809866374L860.629355719074,394.7452820701699L862.8293323658033,395.43944998331995L863.8488828462687,395.85512220574526L865.492608636353,394.5451651160013L866.6046653943157,395.283479344581L867.0009704701927,393.50052282674636L868.7029958718923,393.4932953741315L868.9298387810076,392.89433435031776L868.7709441599893,391.3298954687601L869.568409675246,389.9850862070149L871.2982459259324,390.75997698729327L871.3505639863203,391.93722113543583L872.2970976130903,392.0920117171113L872.9530967994801,395.34071764843645L874.4028855423976,396.52362677026645L875.170501696006,395.7032110163251L876.2474966590987,395.262226978943L877.4092233234862,393.43807669616467L879.3872723699849,393.6768975226695L882.2560268164036,393.54527917023876L883.0904463881138,394.62501238377354L881.6234619235887,395.0868241382974L880.4494991956042,395.8630223800529L877.4048196910053,396.45824559587277L874.6643880864681,397.4304056564532L873.5290463594879,399.1177314747328L874.5823056694563,400.7122508832049L875.5211230370538,402.640090224058L874.5543292088923,404.3186111519416L875.0366886303439,405.7410413991761L874.605324762509,407.2000589497938L871.9432040099389,407.17382114167964L873.7055521253277,409.6592141301058L872.1233257295594,410.70192633807676L871.4617965868033,413.0173119497982L872.228825418365,415.34485788238015L871.3491226670068,416.42351316629436L870.2491283742847,416.13589519684245L868.116595176735,416.73446198664544L868.0468755528907,417.7824155048551L865.9946048361955,417.8533780782442L864.8400091116501,420.11215217274025L865.4361576997541,423.35585299658817L862.0367067796137,425.0300553259546L860.0030512057467,424.76773877379645L859.5518386772004,425.62863887268446L857.8028317234405,425.22638246219697L855.0031208500707,425.8316726850594L849.7557886647495,424.0370059427987L851.6572884612602,420.5353565601472L850.9468062224189,418.0870923223621L848.656234238477,417.50872677213965L847.9397808749461,415.06257689973717L846.3747092614605,412.0597792148298L847.1466863730433,409.95618709502924L845.7992288131074,409.41588980274287L845.8901495419701,406.6202223782145Z" class="datamaps-subunit AFG" style="fill: url(&quot;#pattern-default&quot;); stroke-width: 0.75; stroke: rgb(67, 147, 195);"></path>
</svg>

<div class="main">
    <div id="container1"></div>
    <div class="clearfix"></div>
    <div id="titlediv">
        <img src="~/static/images/logo-light.png" class="logo" alt="" />
        <h1>Cyber Threat Map</h1>
        <div class="date-time" id="date-time"></div>
    </div>
    <div class="bottom-panel">
        <div class="attack-today">
            <h4>Total Attacks</h4>
            <div id="today-count">
                17,557,326
            </div>
        </div>
        <div class="attack-types">
            <ul>
               
            </ul>
        </div>

        <div class="attack-table">
            <div id="attackdiv"></div>
        </div>
    </div>
</div>
<div class="right-side">
    <h3>Global Stats <span>(Monthly attacks)</span></h3>
    <div class="total-attacks">
        <h4>Total attacks</h4>
        <canvas id="barChart"></canvas>
    </div>
    <div class="clearfix"></div>
    <div class="type-of-attacks">
        <h4>Type of attacks</h4>
        <canvas id="pieChart"></canvas>
    </div>
    <div class="clearfix"></div>
    <div class="attack-location">
        <h4>Attacks Location</h4>
        <ul>
          
        </ul>
    </div>
    <div class="clearfix"></div>
    <div class="threat-location">
        <h4>Threat Location</h4>
        <ul>          
        </ul>
    </div>
    <div class="data-notes">
        The threat map is using a data sample from <br/>
        <div id="date-range"></div>
    </div>
</div>
<div class="clearfix"></div>


@section Scripts{
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://d3js.org/d3.geo.projection.v0.min.js"></script>
    <script src="https://d3js.org/topojson.v1.min.js"></script>
    <script src="https://datamaps.github.io/scripts/datamaps.world.min.js?v=1"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
    <script src="~/js/countries-code.js"></script>
    <script src="~/js/site.js"></script>
}